@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');

/*biblio couleurs*/
:root{
    --violet:#5036ea;
    --vert:#4cd8a5;
    --gris-bleu:#d2e1f7;
}

/*Bouton retour page d'accueil*/
#retourPA{
    position: relative;
    background-color:var(--violet);
    padding: 1% 1%;
    border-radius: 12px;
    font-size: 90%;
    text-transform: capitalize;
    color:white;
    font-family: 'VCR OSD Mono','Roboto', sans-serif;
    border: 0px;
}

/*titre*/
#txtPuissance{
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin-top: -2%;
    font-size: 100pt;
    font-weight: bold;
    text-align: center;
}
#Sp{
    color:var(--violet);
}
#Sd{
    color:var(--vert);
}

/*jeu en lui-même*/
#game table {
    position: absolute;
    margin-left: 25%;
    margin-top: -5%;
    border-spacing: 25px 10px;
}
#game td {
    width: 2cm;
    height: 2cm;
    margin: 0px;
    padding: 0px;
    border: 5px var(--gris-bleu) inset;
    border-radius: 2cm;
    background-color: white;
    cursor: pointer;
}
#game td.player1 {
    background-color: var(--violet);
}
#game td.player1:hover {
    background-color: var(--violet);
}
#game td.player2 {
    background-color: var(--vert);
}
#game td.player2:hover {
    background-color: var(--vert);
}

/*Carac Joueur 1*/
.j1{
    position:relative;
    margin-left: 5%;
    margin-top: 10%;
    width: 300px;
    text-align: center;
}
#couleurJ1{
    color:var(--violet);
    font-size: 30pt;
    font-family: 'VCR OSD Mono','Roboto', sans-serif;
}
#couleurNomJ1{
    margin-top: -2%;
    color:black;
    font-size: 25pt;
    font-family: 'VCR OSD Mono','Roboto', sans-serif;
}
#couleurS1{
    color:var(--violet);
    font-size: 15pt;
    font-family: 'Roboto', sans-serif;
}
#couleurSS1{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-left: -2.5%;
    border-style: solid;
    background-color: var(--violet);
    color:white;
    padding: 10% 1%;
    border-radius: 30px;
    border-color: var(--violet);
    font-family: 'VCR OSD Mono','Roboto', sans-serif;
    width: 200px;
    height: 10px;
}
#couleurSS1[value]{
    text-align: center;
    font-size: 100%;
}

/*Carac Joueur 2*/
.j2{
    position: relative;
    margin-left: 78%;
    margin-top: -16.7%;
    width: 300px;
    text-align: center;
}
#couleurJ2{
    color:var(--vert);
    font-size: 30pt;
    font-family: 'VCR OSD Mono','Roboto', sans-serif;
}
#couleurNomJ2{
    color:black;
    font-size: 25pt;
    font-family: 'VCR OSD Mono','Roboto', sans-serif;
}
#couleurS2{
    color:var(--vert);
    font-size: 15pt;
    font-family: 'Roboto', sans-serif;
}
#couleurSS2{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    background-color: var(--vert);
    color:white;
    padding: 10% 1%;
    border-radius: 30px;
    border-color: var(--vert);
    font-family: 'VCR OSD Mono','Roboto', sans-serif;
    width: 200px;
    height: 10px;
}
#couleurSS2[value]{
    text-align: center;
    font-size: 100%;
}